<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
	<form role="form" class = "form-horizontal AddmodelForm">
		<!-- <div class="form-group col-xs-6">
			<label class="col-xs-4 control-label" for="t_date">日期</label>
			<div class="col-xs-8">
				<input th:attr="value=${mtlr.examDate}" id="t_date" name="t_date" class="input-text form-control">
			</div>
		</div> -->
		<div class="form-group col-xs-6">
			<label class="col-xs-4 control-label" for="t_code">编号</label>
			<div class="col-xs-8">
				<input th:attr="value=${exam.hCode}" name="t_code" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-4 control-label" for="t_name">姓名</label>
			<div class="col-xs-8">
				<input th:attr="value=${exam.hName}" name="t_name" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-4 control-label" for="t_sex">性别</label>
			<div class="col-xs-8">
				<select class="form-control" th:attr="value=${exam.hSex}" name="t_sex">
					<option value="F">男</option>
					<option value="M">女</option>
				</select>
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-4 control-label" for="t_education">教育程度</label>
			<div class="col-xs-8">
				<select class="form-control" th:attr="value=${exam.hEdu}" name="t_education">
					<option value="1">小学</option>
					<option value="2">初中</option>
					<option value="3">高中</option>
				</select>
			</div>
		</div>
	</form>
</body>
</html>