<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
	
	<form role="form" class = "form-horizontal AddmodelForm">
		<input type="hidden" name="id">
		<input name="empId" type="hidden">

		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label" >高敏C反应蛋白（hsCRP）</label>
			<div class="col-xs-6">
				<input id="empNo" name="empNo" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">肌酐（53-115μmol/L）</label>
			<div class="col-xs-6">
				<input class="input-text form-control" >
			</div>
		</div>

		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">胆固醇（3.5-6.5 mmol/L）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>

		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">甘油三酯（0.6-1.8 mmol/L）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">随机血糖（4.0-5.9 mmol/L）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">BMI（18.5-30）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">脉搏（次/min）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">收缩压（mmHg）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">舒张压（mmHg）</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">糖尿病</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">心肌梗塞</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">心绞痛</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">中风</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label class="col-xs-6 control-label">吸烟</label>
			<div class="col-xs-6">
				<input name="empName" class="input-text form-control">
			</div>
		</div>
		<div class="form-group col-xs-7">
			<label class="col-xs-5 control-label">主观健康状况</label>
			<div class="col-xs-7">
				<label class="radio-inline"><input type="radio" name="zgjkzk" value="1">差</label>
				<label class="radio-inline"><input type="radio" name="zgjkzk" value="2">不太好</label>
				<label class="radio-inline"><input type="radio" name="zgjkzk" value="3">好</label>
				<label class="radio-inline"><input type="radio" name="zgjkzk" value="4">很好</label>
			</div>
		</div>
	</form>
</body>
</html>